<h1>Tacos</h1>
<p>Let's eat tacos!</p>

<% tacos = ["Carnitas", "Steak", "Veggie", "Fish"] %>

<p>There are <%= tacos.count %> tacos!</p>

<!-- Comment -->

<ul>
  <% for taco in tacos %>
  <li><%= taco %></li>
  <% end %>
</ul>